---
import ContactForm from '../../../components/ContactForm.astro';
import PageLayout from '@/layouts/CommonPage.astro';

export { getStaticPaths } from '@/utils/autoStaticPaths';

const lang: MyBilingualLang = (Astro.params?.lang as MyBilingualLang) || 'en';
---
<PageLayout lang={lang} title='Contact' info='/contact'>
  <h1 class="text-3xl font-bold mb-6">Get in Touch</h1>
  <ContactForm />
</PageLayout>